<h1>This file is for web application</h1>

<h3>It is deployed on server {{ansible_nodename}}</h3>

<h3>Ipaddress of the Host : {{ansible_default_ipv4["address"]}}</h3>

<h3>Host Node Name is : {{ansible_nodename}}</h3>

<h3>Host OS faily is : {{ansible_os_family}}</h3>
